@import "../styles/variables.css";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

html {
    overflow: hidden;
    scroll-behavior: smooth;
    background-color: var(--background);
}

body {
    font-family: 'Hind Siliguri';
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Hind Siliguri';
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: none !important;
    background-color: var(--primary);
    height: 3px !important;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
}

.navbar-toggler-icon::before {
    display: block;
    background-color: var(--primary);
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;
    transform-origin: center;
}

.navbar-toggler-icon::after {
    display: block;
    background-color: var(--primary);
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
}

.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
    background-color: var(--primary);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(45deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-90deg) translateX(7px);
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--primary-hover) !important;
}

header {
    background-color: var(--background);
}

.navbar {
    box-shadow: 0 1px 2px 0 var(--secondary);
    background-color: var(--background) !important;
}

.navbar-brand {
    font-weight: 900;
    font-family: 'Hind Siliguri', sans-serif !important;
}

#skills h1 span {
    color: var(--accent);
}